$gameHeight: 9;
$gameWidth: 16;


body{
  margin: 0;
  font-size: 14px;
}



.img-fluid


#app{
  background-color: #fff578;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#header{
  background-color: white;
  height: 220px;
  padding: 30px;
  .container{
    display: flex;
  }
  .logo{
    max-height: 100px;
  }
  .links{
    margin-left: auto;
    a{
      color: #006762;
      text-decoration: none;
    }
  }
}

#footer{
  height: 20%;
  width: 100%;
  background-color: white;
  ul{
    margin: 0;
    display: flex;
    li{
      list-style: none;
      display: flex;
      &:not(:last-child){
        &::after{
          content: "|";
        }
      }
    }
  }
}

.game{
  &-wrapper{
    height: 100vh;
    display: flex;
    background-color: black;
    > .outer{
      max-width: $gameWidth / $gameHeight *  100vh;
      position: relative;
      width: 100%;
      margin: auto;
      &::after{
        content: '';
        display: block;
        padding-bottom: ($gameHeight / $gameWidth) * 100%;
      }
      > .inner{
        bottom: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

