$gameHeight: 9;
$gameWidth: 16;

$color-Mosque: #006762;
$color-WitchHaze: #fff578;
$color-Cream: #fffcd2;
$color-BitterSweet: #fe7865;
$color-CadetBlue: #5C9D9A;
$color-WhiteSmoke: #E9E9E9;
$color-Sapphire:#0c2963;
$color-Dark70: rgba(44, 46, 63, 0.7);


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


*, ::after, ::before{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  font-family: 'Microsoft JhengHei revise', 'Microsoft JhengHei', 'Helvetica', 'sans-serif';
}

body{
  margin: 0;
  font-size: 14px;
}

.container, .container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;

}
.container-fluid{
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: 768px){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container{
  max-width: 1600px;
}

.d-{
  &flex{
    display: flex;
  }
}

.h-{
  &100{
    height: 100%;
  }
}

.img{
  &-fluid{
    max-width: 100%;
    height: auto;
  }
}


.navbar{
  &-nav{
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &-brand{
    img{
      transition: all 0.25s ease-in-out;
      @media screen and (max-width: 768px){
        height: 50px;
      }
    }
  }
  >.container, .container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    &.flex-col{
      flex-direction: column;
    }
  }
}

#app{
  height: 100%;
  > .wrapper{
    background-color: #fff578;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

header{
  background-color: white;
  .links{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-right: -30px;
    a{
      color: #006762;
      text-decoration: none;
      text-align: center;
      display: block;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 4.67px;
      padding: 5px;
      margin-right: 1rem;
      &::before{
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        // margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      @media screen and (max-width: 768px){
        font-size: 14px;
        padding: 5px;
        &::before{
          height: 30px;
          width: 30px;
        }
      }
      &.intro{
        &::before{
          background-image: url('../images/ion-ios-book-outline\ -\ Ionicons\ Copy.png');
        }
      }
      &.game{
        &::before{
          background-image: url('../images/ion-ios-game-controller-b-outline\ -\ Ionicons.png');
        }
      }
      &:hover{
        background-color: #E9E9E9;
      }
    }
  }
}

main{
  height: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px){
    min-height: calc(100% - 50px);
  }
  >.container{
    height: 100%;
    padding: 1.5rem 0;
    @media screen and (max-width: 768px){
      padding: 0;
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    >.content-wrapper{
      height: 100%;
      width: 100%;
      // max-height: 730px;
      @media screen and (max-width: 1024px){
        height: 100%;
        width: 100%;
      }
    }
    >.content-space{
      height: 1.5rem;
      width: 100%;
      @media screen and (max-width: 768px){
        height: 0;
      }
    }
  }
}

.landing{
  background-image: url('../images/img_landing.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  @media screen and (max-width: 768px){
    background-position: center bottom;
  }
  img{
    width: 80%;
    align-self: center;
    margin: auto;
  }
}

.intro{
    display: flex;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
  .cover{
    background-color: $color-CadetBlue;
    position: relative;
    display: flex;
    flex-basis: 50%;
    img{
      width: 80%;
      height: 100%;
      align-self: center;
      margin: auto;
    }
  }
  .description{
    @media screen and (max-width: 768px){
      height: 60%;
    }
    background-color: white;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-basis: 50%;
    .sub-title{
      color: $color-BitterSweet;
      font-weight: bold;
      font-size: 2rem;
      line-height: 100%;
      margin-bottom: 1rem;
    }
    .title{
      font-weight: bold;
      font-size: 4rem;
      line-height: 100%;
      margin-bottom: 1.5rem;
    }
    .lead{
      text-align: justify;
      color: $color-Dark70;
      font-size: 1rem;
      line-height: 1.5625;
      margin-bottom: 1rem;
    }
  }
}



.normal{
  background-color: white;
  height: 100%;
  .content{
    padding: 30px;
    height: 100%;
    .title{
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

footer{
  margin-top: auto;
  background-color: white;
  .navbar-nav{
    flex-wrap: wrap;
  }
  .nav-item{
    &:not(:last-child){
      &::after{
        padding: 0 0.5rem;
        content: "|";
      }
    }
    a{
      color: black;
      text-decoration: none;
    }
  }
  .container-fluid{
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
  }
}

#share{
  &-bar{
    position: fixed;
    right: 0;
    top:35%;
    z-index: 10;
    button{
      margin-left: auto;
      margin-bottom: 0!important;
      padding: 0 0.625rem;
      display: block;
      width: 3.0625rem;
      height: 3.0625rem;
      line-height: 3.0625em!important;
      background: #b4b4b4;
      text-align: center;
      -webkit-transition: background .6s,width .6s;
      transition: background .6s,width .6s;
      white-space: nowrap;
      overflow: hidden;
      border: 0;
      cursor: pointer;
      &:hover, &:focus{
        width: 7.8125rem;
        .btn-text{
          margin-left: 0.4rem;
          visibility: visible;
          opacity: 1;
          width: auto;
          height: auto;
        }
      }
      &.share{
        &-facebook{
          &:hover, &:focus{
            background: #4b6ea8;
          }
        }
        &-whatsapp{
          &:hover, &:focus{
            background: #00e97f;
          }
        }
        &-wechat{
          &:hover, &:focus{
            background: #00bd2b;
          }
        }
        &-copylink{
          &:hover, &:focus{
            background: #ee6c1f;
          }
        }
      }
      img{
        display: block;
      }
      .btn-text, .svg-container{
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }
      .btn-text{
        margin-left: 0;
        overflow: hidden;
        font-size: .9375rem;
        font-weight: 700;
        color: #fff;
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity .6s,visibility .6s;

      }
    }
  }
}


.link{
  &-entry{
    background-color: #006762;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-image: url('../images/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    font-size: 2rem;
    white-space: nowrap;
    @media screen and (max-width: 1280px){
      font-size: 1.5rem;
      width: 230px;
      background-size: auto 1.5rem;
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (5 / 16) * 100%;
    }
    >.inner{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding-left: 10%;
    }
    &-outline{
      display: inline-block;
      border: solid 2px $color-Mosque;
      color: $color-Mosque;
      text-decoration: none;
      margin: 1rem 0;
      padding: 25px 4rem 25px 2rem;
      position: relative;
      font-weight: bold;
      background: linear-gradient(to right, $color-Mosque 50%, rgba(255,255,255, 0) 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.25s ease;
      &::after{
        content: "";
        display: block;
        width: 1.5rem;
        position: absolute;
        height: 100%;
        top:0;
        right: 1.5rem;
        background-image: url('../images/arrow-right_gn.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:hover,&:focus{
        background-position: left bottom;
        color:white;
        &::after{
          background-image: url('../images/arrow-right.png');
        }
      }
    }
  }
  &-more{
    display: inline-block;
    box-shadow: 0 16px 48px 0 rgba(183, 184, 190, 0.46);
    border: solid 2px $color-BitterSweet;
    color: $color-Dark70;
    text-decoration: none;
    margin: 1rem 0;
    padding: 25px 4rem;
    position: relative;
    &::before{
      content: "";
      display: block;
      width: 1.5rem;
      position: absolute;
      height: 100%;
      top:0;
      left: 1.5rem;
      background-image: url('../images/info-circle\ -\ FontAwesome.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &::after{
      content: "";
      display: block;
      width: 1.5rem;
      position: absolute;
      height: 100%;
      top:0;
      right: 1.5rem;
      background-image: url('../images/share-alt\ -\ simple-line-icons.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


.partners{
  display: flex;
  gap: 16px;
  padding: 30px 0;
  flex-direction: row;
  @media screen and (max-width: 359px){
    flex-direction: column;
  }
}
.partner{
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px){
    align-items: flex-start;
  }
  .title{
    white-space: nowrap;
  }
  img{
    padding:0 30px;
  }
  @media screen and (max-width: 768px){
    flex-direction: column;
    padding-bottom: 0;
    img{
      padding: 0;
      height: 50px;
    }
  }
}

// .logo-hkjc{
//   width: 351px !important;
//   height: 62px !important;
//   max-height: none !important;
//   max-width: none !important;
// }


.game{
  &-intro{
    &-header{
      position: relative;
      img{
        max-width: 100%;
        display: block;
      }
    }
    &-card{
      position: relative;
      display: flex;
      background-color: white;
      padding-bottom: 110px;
      @media screen and (max-width: 1280px){
        padding-bottom: 75px;
      }
      @media screen and (max-width: 768px){
        flex-direction: column;
        padding-top: 45px;
      }
      &:nth-child(odd){
        background-color: $color-Cream;
        @media screen and (min-width: 769px){
          flex-direction: row-reverse;
          .description{
            justify-content: flex-end;
          }
        }

        .cover{
          img{
            animation-delay: 3s;
          }
        }
      }
      .cover{
        position: relative;
        display: flex;
        @media screen and (min-width: 769px){
          width: 50%;
        }
        img{
          max-width: 80%;
          height: auto;
          align-self: center;
          margin: auto;
          transform: translatey(0px);
          animation: float 6s ease-in-out infinite;
          @media screen and (max-width: 768px){
            max-width: 50%;
          }
        }
      }
      .description{
        @media screen and (max-width: 768px){
          height: 60%;
        }
        @media screen and (min-width: 768px){
          width: 50%;
        }
        display: flex;
        align-items: center;
        padding: 45px;
        .inner{
          max-width: 380px;
        }
        .sub-title{
          color: $color-BitterSweet;
          font-weight: bold;
          font-size: 2rem;
          line-height: 100%;
          margin-bottom: 1rem;
        }
        .title{
          font-weight: bold;
          font-size: 4rem;
          line-height: 100%;
          margin-bottom: 1.5rem;
          @media screen and (max-width: 768px){
            font-size: 3rem;
          }
        }
        .lead{
          text-align: justify;
          color: $color-Dark70;
          font-size: 1rem;
          line-height: 1.5625;
          margin-bottom: 1rem;
        }
      }
    }
    .landscape{
      .outer{
        padding-top:(9 / 16) * 100%;
        position: relative;
        >.inner{
          position:absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
  &-wrapper{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    background-color: black;
    &.portrait{
      &::before{
        content: "";
        background-color:rgba(0, 0, 0, 0.85);
        background-image: url('../images/screen_rotation_w.svg');
        background-position: center center;
        background-size: 50% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
      }
    }
    > .outer{
      max-width: $gameWidth / $gameHeight *  100vh;
      position: relative;
      width: 100vw;
      height: 100%;
      margin: auto;
      &::after{
        content: '';
        display: block;
        padding-bottom: ($gameHeight / $gameWidth) * 100%;
      }
      > .inner{
        bottom: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #ea5515;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 5%;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 5%; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 5%; opacity: 1;}
  to {top: 0; opacity: 0;}
}