body{
  margin: 0;
}

$height: 9;
$width: 16;


.game{
  &-wrapper{
    height: 100vh;
    display: flex;
    background-color: black;
    > .outer{
      max-width: $width / $height *  100vh;
      position: relative;
      width: 100%;
      margin: auto;
      &::after{
        content: '';
        display: block;
        padding-bottom: ($height / $width) * 100%;
      }
      > .inner{
        bottom: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}